id: 27a7c8ac-9712-4d93-a0eb-6a1be9a5a87b
version: v2
name: HyunjiTester0503
apptype: api
language: java
containerName: hyunjitester0503
toolchain:
  id: 5908cf49d1a47f002010b95d
  name: Qubeship-Java-Toolchain
opinion:
  id: 5908cf7dacfc9a000b226a5f
  name: Qubeship default opinion
endpoint:
  id: 5908cf49168303000bee528c
  name: Qubeship Sandbox Cluster
  type: target
variables:
  - name: APP_VERSION
    value: v0.1
  - name: supportFortify
    value: true
build:
  compile:
    actions:
     - mvn package
    publish:
     - target/
  static_code_analysis:
    actions:
      - /opt/fortify/bin/fortify-java-analyzer.sh
      - /opt/fortify/bin/fortify-result-analyzer.sh target/spring-boot-hello-world-1.0.0-SNAPSHOT.html 'High==0 && Critical==0' 'pass' target/fortify-summary.txt
    publish:
      - target/spring-boot-hello-world-1.0.0-SNAPSHOT.html:fortify-report-detail.html
      - target/spring-boot-hello-world-1.0.0-SNAPSHOT.fpr
      - target/fortify-summary.txt
bake:
  skip: false
test:
  skip: true
deploy_to_qa:
  skip: true
deploy_to_prod:
  skip: false

